.menos{
  display: grid;
  background: var(--color-BG3);
  grid-template-columns: repeat(auto-fill, minmax(400px, 800px));
  grid-template-rows: 40px 180px 1px 200px 810px 280px 1px 400px 100px;
  justify-items: center;
  gap: 10px;
}
@media (max-width: 600px) {
  .menos{
      display: grid;
      background: var(--color-BG3);
      grid-template-columns: repeat(auto-fill, minmax(400px, 800px));
      grid-template-rows: 40px 180px 1px 200px 1200px 500px 1px 400px 100px;
      justify-items: center;
      gap: 30px;
  }
  .menos>hr{
    color:var(--color-T2);
    /* color: transparent; */
    height: 90%;
  }
}
.cero{
  display: flex;
  width: 100%;
  height: 50px;
  position: sticky;
  top:0;
  z-index: 10;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);
}
@media (max-width: 600px){
  .cero{
    display: grid;
    width: 100%;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 10;
    border-radius: 5px;
    backdrop-filter: blur(50px);
    grid-template-columns: repeat(2,20%) 1fr;
  }
  .cero-1{
    grid-column: 2 / 4;
    font-weight: bold;
    color: var(--color-T1);
    text-shadow: 1px 2px 5px var(--color-shadow);
  }
}
.uno{
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  /* border: solid white 1px; */
}
.dos{
  display: grid;
  width: 100%;
  place-content: center;
  /* border: solid white 1px; */
}
.tres{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:24px repeat(3,1fr);
  width: 100%;
  /* border: solid white 1px; */
}


.cuatro{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows:  repeat(2,1fr);
  place-content: center; 
  /* border: solid white 1px; */
}

@media (max-width: 600px) {
  .menos .cuatro {
      display: grid;
      width: 100%;
      height: 90%;
      grid-column: 1/3;
      grid-row: 2/3;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(5,1fr);
      /* border: solid white 1px; */
  }
}



.seis{
  display: grid;
  width: 100%;
  /* border: solid white 1px; */
}
