.container-title-1{
    display: grid;
    place-items: center;
    /* border: solid black 1px; */
}
.span-img{
    display: grid;
    align-items: end;
    justify-content: center;
    background: var(--color-BG3);
    height:100px;
    width: 100px;
    border-radius: 50%;
    border: solid var(--color-T3) 5px;
    box-shadow: 1px 3px 5px var(--color-shadow);
}
.container-title-2{
    align-items: center;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);

    /* border: solid white 1px; */
}
.container-title-2-h1{
    color: var(--color-T1);
    text-shadow: 1px 2px 5px var(--color-shadow);
    width: 90%;
    grid-column: 1/5;
    margin: 0 0.5rem 0 0.5rem;
}
.container-title-2-span{
    text-shadow: none;
    background: var(--color-Name);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.button-CV1{
    font-size: 13px;
    font-weight: bold;
    border: solid 1px var(--color-T1);
    border-radius: 5px;
    color: var(--color-P);
    background-color: transparent;
    height: 40%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.button-CV2{
    font-size: 13px;
    font-weight: bold;
    border: solid 1px var(--color-T1);
    border-radius: 5px;
    color: var(--color-P);
    background-color: transparent;
    height: 40%;
    grid-column: 3/4;
    grid-row: 2/3;
}
.button-CV1:hover{
    background: var(--color-BG);
}
.button-CV2:hover{
    background: var(--color-BG);
}
.DarkMode{
    align-items: end;
    border: solid 1px var(--color-T1);
    background: transparent;
    width: 40%;
    height: 40%;
    border-radius: 5px;
    margin-left: 3rem;
}
.DarkMode>span{
    font-size: large;
    height: 100%;
    width: 100%;
    margin: 0;
}
